html{
    box-sizing: border-box;
    
}
body{
    background-image: url('../images/tech_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}
*, *:before, *:after{
    box-sizing: inherit;
}
.header {
    text-align: center;
    font-size: 32px;
}
#name {
    font-size: 50px;
    color: purple;
}
#MyDsc {
    text-align: center;
    max-width: 700px;
    margin: auto;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5;          
    padding: 10px;
    font-size: 25px;
}
#skills_box{
    display:flex;
    flex-direction:column;
    text-align: center;
}
#skill1{
    border: 2px solid black; 
    padding: 15px; 
    text-align: center;
    max-width: 400px;
    align-self: center;
    background-color: rgb(94, 168, 9);
    margin-bottom: 20px;
}
#skill2{
    border: 2px solid black; 
    padding: 15px; 
    text-align: center;
    max-width: 400px;
    align-self: center;
    background-color: rgb(146, 124, 223);
    margin-bottom: 20px;
}
#Exp_box{
    display:flex;
    flex-direction:row;
    text-align: center;
    
}
#Expdate{

    padding: 15px; 
    text-align: center;
    max-width: 400px;
    align-self: center;
    
    margin-bottom: 20px;
}
#Expdsc{
    border: 2px solid black; 
    padding: 15px; 
    text-align: center;
    max-width: 400px;
    align-self: center;
    background-color: rgb(216, 152, 69);
    margin-bottom: 20px;
}
.Project_box{
    display:flex;
    align-items: center;
    flex-direction:column;
    text-align: center;

}
.Pdsc{
    border: 2px solid black; 
    padding: 15px; 
    max-width: 400px;
    margin-bottom: 20px;
}
#p1dsc{
    background-color:rgb(243, 241, 136);
}
#p2dsc{
    background-color:rgb(152, 211, 201);
}
#p3dsc{
    background-color:rgb(243, 147, 136);
}
.Project_button{
    font-size: 25px;
    color:rebeccapurple;
}
.Project_button:hover{
    text-decoration-line: underline;
    text-decoration-color: blue;
    cursor:pointer;
    opacity:0.6;
}
#p1img{

    margin-bottom: 20px;
}
.projects{
    display:flex;
    align-items: center;
    flex-direction:column;
    text-align: center;
}
h3{
    font-size: 30px;
}
.Skilldsc{
    font-size:20px;
}
h4{
    font-size: 30px;
}
.Prodsc{
    font-size:20px;

}
.expdsc{
    font-size:20px;

}
@media (min-width:650px){
    #skills_box{
        flex-direction: row;
        justify-content: center;

    }
    #skill1{
        margin-left: 20px;
        margin-right: 20px;
    }
    #skill2{
        margin-left: 20px;
        margin-right: 20px;
    }
    #Exp_box{
        flex-direction: row;
        justify-content: center;

    }
    #Expdate{
        margin-left: 20px;
        margin-right: 20px;
    }
    #Expdsc{
        margin-left: 20px;
        margin-right: 20px;
    }
    .projects{
        flex-direction: row;
        justify-content: center;
    }
    #pimg{
        margin-right: 150px;
    }
}
